@{
	ViewData["Title"] = "Random Number Result";
	var randomNumbers = ViewBag.RandomNumbers as List<uint>;
}

<h2>Random Numbers</h2>

<ul>
	@foreach (var number in randomNumbers)
	{
		<li>@number</li>
	}
</ul>

<form method="post" asp-action="Download">
	<input type="hidden" name="x0" value="@Context.Request.Form["x0"]" />
	<input type="hidden" name="m" value="@Context.Request.Form["m"]" />
	<input type="hidden" name="a" value="@Context.Request.Form["a"]" />
	<input type="hidden" name="c" value="@Context.Request.Form["c"]" />
	<button type="submit">Download as File</button>
</form>